.edit-main{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.text-header{
    width: 70%;
    border-width: 3px;
    border-radius: 12px;
    font-size: 1.5rem;
}
.textbox{
    padding: 34px;
}
.save{
 padding: 17px;
 border-radius: 7px;
 color: #ffff;
 background-color: blue;
 border:1px solid grey;
 text-decoration: none;
 position: relative;
 bottom: 54px;
}